extends main.pug

block content
    .home-wrapper 
        .wrapper-container 
            .home-image 
                img(src="/static/images/own-image.jpg", alt="own image")
            .home-content 
                h1.user-name Khasan Juraqulov
                h2.job-title Software Engineer
                p.home-text This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
                a.btn.btn-read-more(href="/blogs") read more 
                a.btn.btn-create_blog(href="/create_blog") Add blog 
